body,
html{
margin: 0;
padding: 0%;
background-color: #8a8a8a;
/* font-family: Arial, Helvetica, sans-serif; */
height: 100%;
}
.container{
    background: linear-gradient(#8a8a8a,#1e0ad1,#1ccd57);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.content{
    text-align: center;
    background-color:azure;
    padding: 2rem;
    border-radius: 15px;
    max-width: 350px;

}
.logo{
    width: 200px;
    object-fit: contain;

}
h1{
    color: #8a8a8a;
    margin-bottom: 18px;
}
p{
    color: #666;
    margin-bottom: 18px;
}
form{
    display: flex;
    flex-direction: column;
}
input[type="email"]{
    padding: 0.5rem;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid #eae5e5;
}
button{
    padding: 0.5rem;
    background-color: blueviolet;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition:  background-color 0.3s ease-in-out ;

}
button:hover{
    background-color: #4e244c;
}
